alert:ClusterMachineApproverDown	severity:critical
alert:ClusterVersionOperatorDown	severity:critical
alert:ClusterOperatorDown	severity:critical
alert:HAProxyDown	severity:critical
alert:ExtremelyHighIndividualControlPlaneCPU	severity:critical
alert:KubeAPIErrorBudgetBurn	severity:critical
alert:KubeAPIErrorBudgetBurn	severity:critical
alert:KubeControllerManagerDown	severity:critical
alert:PodDisruptionBudgetLimit	severity:critical
alert:KubeSchedulerDown	severity:critical
alert:FluentdNodeDown	severity:critical
alert:FluentDVeryHighErrorRate	severity:critical
alert:ElasticsearchClusterNotHealthy	severity:critical
alert:ElasticsearchNodeDiskWatermarkReached	severity:critical
alert:ElasticsearchNodeDiskWatermarkReached	severity:critical
alert:ElasticsearchDiskSpaceRunningLow	severity:critical
alert:ClusterAutoscalerOperatorDown	severity:critical
alert:MachineAPIOperatorMetricsCollectionFailing	severity:critical
alert:MCDRebootError	severity:critical
alert:AlertmanagerFailedReload	severity:critical
alert:etcdInsufficientMembers	severity:critical
alert:etcdMembersDown	severity:critical
alert:etcdNoLeader	severity:critical
alert:etcdGRPCRequestsSlow	severity:critical
alert:etcdHighFsyncDurations	severity:critical
alert:etcdBackendQuotaLowSpace	severity:critical
alert:KubePersistentVolumeFillingUp	severity:critical
alert:KubeAPIDown	severity:critical
alert:KubeletDown	severity:critical
alert:NodeFilesystemSpaceFillingUp	severity:critical
alert:NodeFilesystemAlmostOutOfSpace	severity:critical
alert:NodeFilesystemFilesFillingUp	severity:critical
alert:NodeFilesystemAlmostOutOfFiles	severity:critical
alert:NodeRAIDDegraded	severity:critical
alert:NooBaaSystemCapacityWarning95	severity:critical
alert:NooBaaSystemCapacityWarning100	severity:critical
alert:ClusterObjectStoreState	severity:critical
alert:CephMgrIsAbsent	severity:critical
alert:CephMonQuorumAtRisk	severity:critical
alert:CephNodeDown	severity:critical
alert:CephOSDCriticallyFull	severity:critical
alert:CephOSDFlapping	severity:critical
alert:CephOSDDiskNotResponding	severity:critical
alert:CephOSDDiskUnavailable	severity:critical
alert:PersistentVolumeUsageCritical	severity:critical
alert:CephClusterErrorState	severity:critical
alert:CephClusterCriticallyFull	severity:critical
alert:CephClusterReadOnly	severity:critical
alert:CephPoolQuotaBytesCriticallyExhausted	severity:critical
alert:ThanosRuleQueueIsDroppingAlerts	severity:critical
alert:FluentdQueueLengthIncreasing	severity:error
alert:DeprecatedOAuthTokensInUse	severity:info
alert:SamplesTBRInaccessibleOnBoot	severity:info
alert:UpdateAvailable	severity:info
alert:ClusterNotUpgradeable	severity:info
alert:APIRemovedInNextReleaseInUse	severity:info
alert:APIRemovedInNextEUSReleaseInUse	severity:info
alert:ElasticsearchNodeDiskWatermarkReached	severity:info
alert:ElasticsearchJVMHeapUseHigh	severity:info
alert:AggregatedLoggingSystemCPUHigh	severity:info
alert:ElasticsearchProcessCPUHigh	severity:info
alert:MultipleContainersOOMKilled	severity:info
alert:KubeQuotaAlmostFull	severity:info
alert:KubeQuotaFullyUsed	severity:info
alert:PrometheusRemoteWriteBehind	severity:info
alert:ThanosRuleHighRuleEvaluationWarnings	severity:info
alert:ThanosRuleConfigReloadFailure	severity:info
alert:ThanosRuleNoEvaluationFor10Intervals	severity:info
alert:Watchdog	severity:none
alert:CloudCredentialOperatorTargetNamespaceMissing	severity:warning
alert:CloudCredentialOperatorProvisioningFailed	severity:warning
alert:CloudCredentialOperatorDeprovisioningFailed	severity:warning
alert:CloudCredentialOperatorInsufficientCloudCreds	severity:warning
alert:CloudCredentialOperatorStaleCredentials	severity:warning
alert:MachineApproverMaxPendingCSRsReached	severity:warning
alert:NTOPodsNotReady	severity:warning
alert:NTODegraded	severity:warning
alert:SamplesRetriesMissingOnImagestreamImportFailing	severity:warning
alert:SamplesImagestreamImportFailing	severity:warning
alert:SamplesDegraded	severity:warning
alert:SamplesInvalidConfig	severity:warning
alert:SamplesMissingSecret	severity:warning
alert:SamplesMissingTBRCredential	severity:warning
alert:CannotRetrieveUpdates	severity:warning
alert:ClusterOperatorDegraded	severity:warning
alert:ClusterOperatorFlapping	severity:warning
alert:NonCompliant	severity:warning
alert:CoreDNSPanicking	severity:warning
alert:CoreDNSHealthCheckSlow	severity:warning
alert:CoreDNSErrorsHigh	severity:warning
alert:ImageRegistryStorageReconfigured	severity:warning
alert:HAProxyReloadFail	severity:warning
alert:IngressControllerDegraded	severity:warning
alert:IngressControllerUnavailable	severity:warning
alert:TechPreviewNoUpgrade	severity:warning
alert:HighOverallControlPlaneCPU	severity:warning
alert:KubeAPIErrorBudgetBurn	severity:warning
alert:KubeAPIErrorBudgetBurn	severity:warning
alert:PodDisruptionBudgetAtLimit	severity:warning
alert:FluentDHighErrorRate	severity:warning
alert:ElasticsearchClusterNotHealthy	severity:warning
alert:ElasticsearchWriteRequestsRejectionJumps	severity:warning
alert:ElasticsearchHighFileDescriptorUsage	severity:warning
alert:ElasticsearchOperatorCSVNotSuccessful	severity:warning
alert:ElasticsearchNodeDiskWatermarkReached	severity:warning
alert:ElasticsearchNodeDiskWatermarkReached	severity:warning
alert:ElasticsearchNodeDiskWatermarkReached	severity:warning
alert:MachineWithoutValidNode	severity:warning
alert:MachineWithNoRunningPhase	severity:warning
alert:MachineNotYetDeleted	severity:warning
alert:MCDDrainError	severity:warning
alert:MCDPivotError	severity:warning
alert:KubeletHealthState	severity:warning
alert:SystemMemoryExceedsReservation	severity:warning
alert:CommunityOperatorsCatalogError	severity:warning
alert:CertifiedOperatorsCatalogError	severity:warning
alert:RedhatOperatorsCatalogError	severity:warning
alert:RedhatMarketplaceCatalogError	severity:warning
alert:AlertmanagerMembersInconsistent	severity:warning
alert:AlertmanagerFailedToSendAlerts	severity:warning
alert:AlertmanagerClusterFailedToSendAlerts	severity:warning
alert:AlertmanagerClusterFailedToSendAlerts	severity:warning
alert:AlertmanagerConfigInconsistent	severity:warning
alert:AlertmanagerClusterDown	severity:warning
alert:TargetDown	severity:warning
alert:HighlyAvailableWorkloadIncorrectlySpread	severity:warning
alert:ClusterMonitoringOperatorReconciliationErrors	severity:warning
alert:AlertmanagerReceiversNotConfigured	severity:warning
alert:KubeDeploymentReplicasMismatch	severity:warning
alert:NodeNetworkInterfaceFlapping	severity:warning
alert:etcdHighNumberOfLeaderChanges	severity:warning
alert:etcdMemberCommunicationSlow	severity:warning
alert:etcdHighNumberOfFailedProposals	severity:warning
alert:etcdHighFsyncDurations	severity:warning
alert:etcdHighCommitDurations	severity:warning
alert:etcdExcessiveDatabaseGrowth	severity:warning
alert:KubeStateMetricsListErrors	severity:warning
alert:KubeStateMetricsWatchErrors	severity:warning
alert:KubePodCrashLooping	severity:warning
alert:KubePodNotReady	severity:warning
alert:KubeDeploymentGenerationMismatch	severity:warning
alert:KubeStatefulSetReplicasMismatch	severity:warning
alert:KubeStatefulSetGenerationMismatch	severity:warning
alert:KubeStatefulSetUpdateNotRolledOut	severity:warning
alert:KubeDaemonSetRolloutStuck	severity:warning
alert:KubeContainerWaiting	severity:warning
alert:KubeDaemonSetNotScheduled	severity:warning
alert:KubeDaemonSetMisScheduled	severity:warning
alert:KubeJobCompletion	severity:warning
alert:KubeJobFailed	severity:warning
alert:KubeHpaReplicasMismatch	severity:warning
alert:KubeHpaMaxedOut	severity:warning
alert:KubeCPUOvercommit	severity:warning
alert:KubeMemoryOvercommit	severity:warning
alert:KubeCPUQuotaOvercommit	severity:warning
alert:KubeMemoryQuotaOvercommit	severity:warning
alert:KubeQuotaExceeded	severity:warning
alert:KubePersistentVolumeFillingUp	severity:warning
alert:KubePersistentVolumeErrors	severity:warning
alert:KubeClientErrors	severity:warning
alert:AggregatedAPIErrors	severity:warning
alert:AggregatedAPIDown	severity:warning
alert:KubeAPITerminatedRequests	severity:warning
alert:KubeNodeNotReady	severity:warning
alert:KubeNodeUnreachable	severity:warning
alert:KubeletTooManyPods	severity:warning
alert:KubeNodeReadinessFlapping	severity:warning
alert:KubeletPlegDurationHigh	severity:warning
alert:KubeletPodStartUpLatencyHigh	severity:warning
alert:KubeletClientCertificateRenewalErrors	severity:warning
alert:KubeletServerCertificateRenewalErrors	severity:warning
alert:NodeFilesystemSpaceFillingUp	severity:warning
alert:NodeFilesystemAlmostOutOfSpace	severity:warning
alert:NodeFilesystemFilesFillingUp	severity:warning
alert:NodeFilesystemAlmostOutOfFiles	severity:warning
alert:NodeNetworkReceiveErrs	severity:warning
alert:NodeNetworkTransmitErrs	severity:warning
alert:NodeHighNumberConntrackEntriesUsed	severity:warning
alert:NodeTextFileCollectorScrapeError	severity:warning
alert:NodeClockSkewDetected	severity:warning
alert:NodeClockNotSynchronising	severity:warning
alert:NodeRAIDDiskFailure	severity:warning
alert:PrometheusBadConfig	severity:warning
alert:PrometheusNotificationQueueRunningFull	severity:warning
alert:PrometheusErrorSendingAlertsToSomeAlertmanagers	severity:warning
alert:PrometheusNotConnectedToAlertmanagers	severity:warning
alert:PrometheusTSDBReloadsFailing	severity:warning
alert:PrometheusTSDBCompactionsFailing	severity:warning
alert:PrometheusNotIngestingSamples	severity:warning
alert:PrometheusDuplicateTimestamps	severity:warning
alert:PrometheusOutOfOrderTimestamps	severity:warning
alert:PrometheusRemoteStorageFailures	severity:warning
alert:PrometheusRemoteWriteDesiredShards	severity:warning
alert:PrometheusRuleFailures	severity:warning
alert:PrometheusMissingRuleEvaluations	severity:warning
alert:PrometheusTargetLimitHit	severity:warning
alert:ThanosSidecarPrometheusDown	severity:warning
alert:ThanosSidecarBucketOperationsFailed	severity:warning
alert:ThanosSidecarUnhealthy	severity:warning
alert:PrometheusOperatorListErrors	severity:warning
alert:PrometheusOperatorWatchErrors	severity:warning
alert:PrometheusOperatorSyncFailed	severity:warning
alert:PrometheusOperatorReconcileErrors	severity:warning
alert:PrometheusOperatorNodeLookupErrors	severity:warning
alert:PrometheusOperatorNotReady	severity:warning
alert:PrometheusOperatorRejectedResources	severity:warning
alert:ThanosQueryHttpRequestQueryErrorRateHigh	severity:warning
alert:ThanosQueryHttpRequestQueryRangeErrorRateHigh	severity:warning
alert:ThanosQueryGrpcServerErrorRate	severity:warning
alert:ThanosQueryGrpcClientErrorRate	severity:warning
alert:ThanosQueryHighDNSFailures	severity:warning
alert:CsvAbnormalFailedOver2Min	severity:warning
alert:CsvAbnormalOver30Min	severity:warning
alert:InstallPlanStepAppliedWithWarnings	severity:warning
alert:NodeWithoutSDNPod	severity:warning
alert:NodeProxyApplySlow	severity:warning
alert:ClusterProxyApplySlow	severity:warning
alert:NodeProxyApplyStale	severity:warning
alert:SDNPodNotReady	severity:warning
alert:NooBaaBucketErrorState	severity:warning
alert:NooBaaBucketReachingQuotaState	severity:warning
alert:NooBaaBucketExceedingQuotaState	severity:warning
alert:NooBaaBucketLowCapacityState	severity:warning
alert:NooBaaBucketNoCapacityState	severity:warning
alert:NooBaaResourceErrorState	severity:warning
alert:NooBaaSystemCapacityWarning85	severity:warning
alert:CephMgrIsMissingReplicas	severity:warning
alert:CephMdsMissingReplicas	severity:warning
alert:CephMonHighNumberOfLeaderChanges	severity:warning
alert:CephOSDNearFull	severity:warning
alert:CephOSDSlowOps	severity:warning
alert:CephDataRecoveryTakingTooLong	severity:warning
alert:CephPGRepairTakingTooLong	severity:warning
alert:PersistentVolumeUsageNearFull	severity:warning
alert:CephClusterWarningState	severity:warning
alert:CephOSDVersionMismatch	severity:warning
alert:CephMonVersionMismatch	severity:warning
alert:CephClusterNearFull	severity:warning
alert:CephPoolQuotaBytesNearExhaustion	severity:warning
alert:ThanosRuleSenderIsFailingAlerts	severity:warning
alert:ThanosRuleHighRuleEvaluationFailures	severity:warning
alert:ThanosRuleRuleEvaluationLatencyHigh	severity:warning
alert:ThanosRuleGrpcErrorRate	severity:warning
alert:ThanosRuleQueryHighDNSFailures	severity:warning
alert:ThanosRuleAlertmanagerHighDNSFailures	severity:warning
alert:ThanosNoRuleEvaluations	severity:warning
	